<script>
  window.comments = <%= raw @image.hierarchical_comments.to_json %>;
</script>
<nav class="navigation">
  <%= image_tag('skimg-logo.png', class: 'logo') %>
  <%= text_field_tag 'url', "#{request.host_with_port}/images/#{@image.uuid}" %>
  <div class="comment-info">
    <div><%= pluralize(@comment_count, 'comment') %></div>
    <a id="comment-message-box" href="#">Show Comments</a>
  </div>
</nav>
<div class="img-container">
  <% if @image.flag_count < 3 %>
      <img src="<%= @image.image.url %>">
      <div class="flag-container">
        <%= button_to "Flag Image as inappropriate", flag_image_path(@image.uuid), remote: true, class: 'btn btn-default' %>
      </div>
  <% else %>
      <h1>Image has been flagged as inappropriate and has been removed.</h1>
  <% end %>
</div>
<div class="mercury-blade container" id="app"></div>
<%= javascript_include_tag 'react-only', 'data-turbolinks-track' => true %>
